<body>
  <div class="box">
    <div class="container">
      <h1>Course Registration</h1>
      <div class="text-field">
        <input class="input" type="text" placeholder="Enter name">
        <i class="bi-person"></i>
        <label class="lab1">Name</label>
      </div>
      <div class="text-field">
        <input class="input" type="text" placeholder="Enter Email">
        <i class="bi-envelope"></i>
        <label class="lab2">Email</label>
      </div>
      <div class="text-field">
        <input class="input" type="password" placeholder="Enter Password">
        <i class="bi-lock"></i>
        <label class="lab3">Password</label>
      </div>
      <div class="bottom">
        <input class="check" type="checkbox">
        <label>Remember me</label>
        <a href="#">Forget Password?</a>
      </div>

      <button class="submit">Submit</button>
    </div>
  </div>
</body>


<div class="whole">
  <div class="start">
    <h3>
      you're invited to Party
    </h3>
  </div>


    <h1 class="h1 bidhead">
      farewell party
    </h1>

    <h3>
       we are celebrating our farewell!
    </h3>

    <h3>
      april 4th from 4 - 7 pm
   </h3>
   <h3>
      in our college
   </h3>

   <h3>
    rvs
   </h3>

   <h3>
    place - sulur
   </h3>
</div>